name: Auto merge

on:
  pull_request:
    branches: ["main"]

jobs:
  auto-merge:
    runs-on: ubuntu-latest

    steps:
      - name: Merge pull requests (automerge-action)
        uses: pascalgn/automerge-action@v0.16.2
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          MERGE_LABELS: "automerge"
          MERGE_METHOD: "squash"
          BASE_BRANCHES: "main"
